name: panvimdoc

on:
  push:
    branches: [main]
    paths:
      - README.md
      - .github/workflows/panvimdoc.yml

concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref }}
  cancel-in-progress: true

jobs:
  docs:
    runs-on: ubuntu-latest
    name: pandoc to vimdoc
    steps:
      - uses: actions/checkout@v2
        with:
          token: ${{ secrets.GH_PAT }}

      - name: panvimdoc
        uses: kdheepak/panvimdoc@v3.0.5
        with:
          vimdoc: obsidian
          description: a plugin for writing and navigating an Obsidian vault
          pandoc: README.md
          toc: false
          version: NVIM v0.8.0
          demojify: false

      - uses: stefanzweifel/git-auto-commit-action@v4
        with:
          commit_user_name: github-actions[bot]
          commit_message: 'chore: auto generate docs'
          branch: ${{ github.head_ref }}
